# Node modules (si jamais tu ajoutes du front plus tard)
node_modules/

# Fichiers de log
*.log

# Fichiers sensibles
.env

# macOS
.DS_Store

# VSCode config
.vscode/

# Remix artifacts
artifacts/
cache/
